enable-jmx-monitoring={{enable-jmx-monitoring.value}}
rcon.port={{rcon.port.value}}
level-seed={{level-seed.value}}
gamemode={{gamemode.value}}
enable-command-block={{enable-command-block.value}}
enable-query={{enable-query.value}}
generator-settings={{{generator-settings.value}}}
enforce-secure-profile={{enforce-secure-profile.value}}
level-name={{level-name.value}}
motd={{motd.value}}
query.port={{query.port.value}}
pvp={{pvp.value}}
generate-structures={{generate-structures.value}}
max-chained-neighbor-updates={{max-chained-neighbor-updates.value}}
difficulty={{difficulty.value}}
network-compression-threshold={{network-compression-threshold.value}}
max-tick-time={{max-tick-time.value}}
require-resource-pack={{require-resource-pack.value}}
use-native-transport={{use-native-transport.value}}
max-players={{max-players.value}}
online-mode={{online-mode.value}}
enable-status={{enable-status.value}}
allow-flight={{allow-flight.value}}
initial-disabled-packs={{initial-disabled-packs.value}}
broadcast-rcon-to-ops={{broadcast-rcon-to-ops.value}}
view-distance={{view-distance.value}}
server-ip={{server-ip.value}}
resource-pack-prompt={{resource-pack-prompt.value}}
allow-nether={{allow-nether.value}}
server-port={{server-port.value}}
enable-rcon={{enable-rcon.value}}
sync-chunk-writes={{sync-chunk-writes.value}}
op-permission-level={{op-permission-level.value}}
prevent-proxy-connections={{prevent-proxy-connections.value}}
hide-online-players={{hide-online-players.value}}
resource-pack={{resource-pack.value}}
entity-broadcast-range-percentage={{entity-broadcast-range-percentage.value}}
simulation-distance={{simulation-distance.value}}
rcon.password={{rcon.password.value}}
player-idle-timeout={{player-idle-timeout.value}}
force-gamemode={{force-gamemode.value}}
rate-limit={{rate-limit.value}}
hardcore={{hardcore.value}}
white-list={{white-list.value}}
broadcast-console-to-ops={{broadcast-console-to-ops.value}}
spawn-npcs={{spawn-npcs.value}}
spawn-animals={{spawn-animals.value}}
function-permission-level={{function-permission-level.value}}
initial-enabled-packs={{initial-enabled-packs.value}}
level-type={{level-type.value}}
text-filtering-config={{text-filtering-config.value}}
spawn-monsters={{spawn-monsters.value}}
enforce-whitelist={{enforce-whitelist.value}}
spawn-protection={{spawn-protection.value}}
resource-pack-sha1={{resource-pack-sha1.value}}
max-world-size={{max-world-size.value}}